body {
    background-color: darkgray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul {
    list-style-type: none;
    padding: 2px;
    margin: 0%;
}

.mainMenu {
    background-color: blue;
}
.comp {
    position: absolute;
    top: 30%;
    height: 500px;
    width: 500px;

}

li {
    float: left;
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
